<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Comprovativo</title>
    <style>
        body{
            
            font-family:  Helvetica, sans-serif;
            font-size: 13px;

        }
      .cabecario{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        font-size: 13px;
        margin-bottom: 60px;
      }
      .cabecario img{
        position: absolute;
        top: -35px;
        left: -20px;
        width: 150px;
        height: 150x;
      }
    
      .info{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .DadosdaConta{
        display: flex;
        flex-direction: column;
      }
      .dados{
        display: flex;
        flex-direction: column;
        margin-left: 68px;
      }
      .rodape{
        position: absolute;
        bottom: 20px;
      }
      
     
  
    </style>
</head>
<body>

<main>
    <div class="cabecario">
        <img src="https://firebasestorage.googleapis.com/v0/b/blog-9f714.appspot.com/o/Images%2Fbpa.png?alt=media&token=01a270b4-79fd-4792-882b-29eec5d62960" alt="">
           
                <h3>Comprovativo</h3>
           
        
    </div>

    <div class="info">
        <p>A operação que efectuou foi registada com sucesso através do serviço <strong> BPA NET</strong> </p>
    </div>

      <div class="DadosdaConta"> 
        <p> <strong>Dados da Conta</strong> </p>
        <div class="dados"> 
        <p><strong>Nome:</strong>  <%=nomecliente %></p>
        <p><strong>Conta:</strong> <%=contaFrom %></p>
        <p><strong>IBAN:</strong> <%= ibanFrom %></p>
        </div>
      </div>
      
      <div class="DadosdaConta">
        <p> <strong>Dados do Movimento</strong> </p>
        <div class="dados">
         <p><strong>Benefeciário:</strong> <%= benefeciario ? benefeciario : "Transferência enviada para mim" %></p>
         <p><strong>Conta/IBAN:</strong> <%= ibaTO %></p>
         <p><strong>Montante:</strong> KZ <%= montate %></p>
         <p><strong>Numero da operação: </strong><%= idtransacao %></p>
         <p><strong>Tipo de Movimento: </strong><%= descricao %></p>
        </div>
      </div>
     
  

         <div style="width: 100%; display: flex; flex-direction: column; justify-items: center; ">
          <p style="text-align: center;">Documento processado pelo <strong>BPA NET</strong>  em: <%= data %></p>
         </div>

         <div class="rodape">
          <p style="text-align: center;">Sociedade Anónima, Capital Social  8.500.000.000,00 AKZ | Contribuinte: 5001174410</p>
        <p >Banco de Poupança Angolano, SA | Sede Social: Luanda, Complexo Garden Towers, Travessa Ho Chi Min, Maianga</p>
        <p> Telefone +244 222 638 900 | Linha de Atendimento BPA +244 923 120 120 | e-mail: bpa@bpa.ao | www.bpa.ao</p>
        </div>
         
</main>

  

</body>
</html>